.new-tweet{
  position: relative;
  /* border: 2px red solid; */
}

#error{
  color: red;
  font-size: 15px;
  border: 2px red solid;
  text-align: center;
  /* height: 0;
  max-height: 0; */
  display:none;  
}

/* .new-tweet:target #error{
  height:20px;
  display: block; */
/* } */
.new-tweet label {
  display: block;
  font-size: 20px;
  font-weight: 500;
}
textarea {
  border-style: none; 
  border-color: Transparent; 
  width: 100%;
  height: 30px;
  font-size: small;
  resize: none;
  overflow: auto; 
  background-color: #f4f1ec;     
  border-bottom: solid 2px;
}
button {
  font-size: 15px;
  color: white;
  font-family: Bungee;
  background-color: #37498A;
}
output {
  font-size: 20px;
  position: absolute;
  right: 5px;
  bottom: -2px;
  font-family: Bungee; 
}
textarea:focus {
  outline: none;
}

.limit-exceeded{
  color: red;
}